Repository simochee/eslint-plugin-tanstack-query-options: changes, and which lefthook commands are due for each by the changed paths.
All: biome, sort-package-json

biome:
  stage_fixed: true
  run: "pnpm exec biome check \\\n  --write \\\n  --unsafe"

sort-package-json:
  stage_fixed: true
  run: pnpm exec sort-package-json

feat: base of eslint plugin
  src/index.ts
Due: biome

docs: rule docs
  README.md
  src/rulres/no-loose-query-key.md
Due: none

chore: setup vitest
  package.json
  vitest.config.ts
Due: biome, sort-package-json

feat: no-loose-query-key rule
  mise.toml
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/rulres/no-loose-query-key.md
  src/rulres/no-loose-query-key.test.ts
  src/rulres/no-loose-query-key.ts
  src/utils.ts
Due: biome, sort-package-json

chore: remove unused variable
  src/rulres/no-loose-query-key.ts
Due: biome

chore: rename directory
  src/index.ts
  src/rules/no-loose-query-key.md
  src/rules/no-loose-query-key.test.ts
  src/rules/no-loose-query-key.ts
Due: biome

feat: base of no-inline-query-options rule
  README.md
  src/rules/no-inline-query-options.md
  src/rules/no-inline-query-options.test.ts
  src/rules/no-inline-query-options.ts
Due: biome

chore: license
  LICENSE
Due: none

Path conditions:
  biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  sort-package-json: any of: package.json
